
# Generated assets
# IDE
# OS files
# Release build artifacts
*.bin
.DS_Store
.idea/
.vscode/
blueprint.bin
centroids.bin
flop_buckets.bin
hand_ranks.bin
preflop_abstraction.bin
target
target/
wr.sh
dump.txt
turn_abstraction.bin
abstraction.bin
